<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, sint mollitia? Voluptates rerum accusantium ea iusto impedit porro distinctio, atque quas deserunt fugiat blanditiis pariatur soluta velit libero tempore beatae.
    Magnam eos esse aut maiores cum veritatis at iure maxime necessitatibus earum aspernatur quidem blanditiis voluptatem nihil voluptate, vitae iusto. Qui autem sequi, corrupti explicabo inventore soluta quos laboriosam natus!
    Ducimus reprehenderit vel ipsam quasi architecto molestiae consectetur! Natus distinctio accusantium rem pariatur voluptatum tenetur totam! Facilis asperiores dolore magnam, nisi earum suscipit quae, ducimus placeat sit quos, expedita repellendus?
    Assumenda, autem voluptate doloribus veritatis iste architecto distinctio debitis perspiciatis accusantium non saepe minus id beatae quasi reprehenderit esse et repellendus nisi inventore! Voluptate dolore, officiis consectetur sed consequatur nostrum.
    Autem minima voluptatem soluta itaque tenetur ipsum, saepe ratione sunt aliquid doloribus fuga rerum eaque quisquam in repellendus asperiores dolores ex nulla debitis. Vero, distinctio officia autem non voluptas enim.
    Asperiores tempore porro sed vero voluptate suscipit deleniti qui, fuga at placeat quo quod consectetur animi obcaecati nobis quisquam expedita quis beatae numquam dolore ex voluptatum? Sint temporibus dignissimos quibusdam.
</p>